<%- include("header.ejs") %>

<body>
<%- include("navbar.ejs") %>
<div role="main" class="container">

    <br/><br/>

    <h2>Welcome to the EMS page!</h2>

</div>
<%- include("new.ejs") %>
<%- include("list.ejs") %>
<%- include("view.ejs") %>

</body>

<footer>
<%- include("footer.ejs") %>
</footer>